
*{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}



h1{
	font-family: 'Quicksand', sans-serif;
}
p{
	font-family: 'Quicksand', sans-serif;
}


:root{
	--main-color: #A84705;
}

:root{
	--fain-color: #fff;
}



.topbar{
	width: 100%;
	height: 70px;
	background: #07071B;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.topbar2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.topbar1{
	margin: 20px;
}
.topbar2 i{
	margin-right: 10px;
	color: var(--main-color);
}
.pro-icon i{
	padding: 20px;
	transition: 0.3s;
	cursor: pointer;
	
}
.pro-icon i:hover{
	color: var(--main-color);
}

.fro-icon i{
	font-size: 22px;
	padding: 20px;
	transition: 0.3s;
	cursor: pointer;
}
.fro-icon i:hover{
	color: var(--main-color);
}

.pro-header{
	width: 100%;
	height: 100px;
	background: #fff;
}

.pro-header1{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul{
	list-style: none;
	display: flex;
}

nav ul li a{
	text-decoration: none;
	font-size: 22px;
	padding: 10px;
	color: black;
}
nav ul li a:hover{
	color: var(--main-color);
}

.icon i{
	font-size: 22px;
	transition: 0.3s;
	cursor: pointer;
}
.icon i:hover{
	color: var(--main-color);
}


#banner{
	width: 100%;
	height: auto;
	position: relative;
	
}

#slider{
	width: 100%;
	height: auto;
}

.banner-title{
	position: absolute;
	top: 200px;
	left: 100px;
}
.banner-title h3{
	color: var(--fain-color);
	margin: 20px 0px;
	font-size: 35px;
}
.banner-title h1{
	color: var(--fain-color);
	margin: 20px 0px;
	font-size: 80px;
}
.banner-title p{
	color: var(--fain-color);
	margin: 20px 0px;
}
.banner-title span{
	color: var(--main-color);
}

.project{
	width: 30%;
	padding: 15px;
	border: none;
	background: var(--main-color);
	font-size: 15px;
	color: var(--fain-color);
	margin: 20px 0px;
	transition: 0.3s;
	cursor: pointer;
}
.project:hover{
	background: var(--fain-color);
	color: black;
}


.succes-work{
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.succes-bordre{
	width: 400px;
	height: 400px;
	border: 7px solid #D9D8D8;
	position: relative;
}

.succes-image img{
	position: absolute;
	top: 50px;
	left: -50px;
}

hr{
	width: 130px;
	color: black;
	margin: 20px 0px;
}
.succes-image2{
	width: 300px;
	height: 300px;
	background: var(--fain-color);
	
}
.succes-image2 img{
	width: 250px;
	height: 300px;
	position: absolute;
	top: 170px;
	left: 250px;
	padding: 20px 20px;
}

.succes-title{
	margin: 30px 0px;
}
.succes-title span{
	font-size: 90px;
	color: var(--main-color);
}

.succes-title h1{
	font-size: 35px;
	margin: 20px 0px;
}

.success-title2{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.white-background{
	width: 100%;
	height: 800px;
	background-image: url("../images/whitebackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 150px;
}


.our-main{
	text-align: center;
	padding-top: 100px;
}
.our-main p{
	font-size: 20px;
}
.our-main h1{
	font-size: 45px;
}
.our-main span{
	color: var(--main-color);
}

.desing-bulid2{
	width: 30%;
	height: 220px;
	border: 1px dotted black;
	transition: 0.3s;
	margin-top: 2%;
}
.desing-bulid2:hover{
	background: var(--fain-color);
}


.desing-bild{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
	flex-wrap: wrap;
}
.desing-bulid2 h2{
	padding-left: 20px;
	padding-top: 30px;
}
.desing-bulid2 h2:hover{
	color: var(--main-color);
	cursor: pointer;
}
.desing-bulid2 p{
	padding-left: 20px;
	margin: 30px 0px;
	color: #7B7A7A;
}
.desing-bulid2 i{
	margin-right: 10px;
	font-size: 40px;
	color: var(--main-color);
}


.desing-bulid2 h3 a{
	color: black;
	text-decoration: none;
	padding-top: 30px;
	padding-left: 50px;
}
.desing-bulid2 h3 a:hover{
	color: var(--main-color);
}


.best-company{
	width: 500px;
	padding: 20px;
	background: #E3E3E3;
	position: relative;
}
.plus-icon i{
	position: absolute;
	top: 0px;
	left: 530px;
	width: 40px;
	padding: 17px;
	background: #B0AFAF;
	font-size: 30px;
	color: #fff;
	padding-left: 30px;
}

.duris{
	width: 500px;
	background: #6B6B6B;
	padding: 15px;
	color: var(--fain-color);
}


.best-company1{
	width: 500px;
	padding: 20px;
	background: #E3E3E3;
	position: relative;
}
.plus-icon1 i{
	position: absolute;
	top: 0px;
	left: 530px;
	width: 40px;
	padding: 17px;
	background: #B0AFAF;
	font-size: 30px;
	color: #fff;
	padding-left: 30px;
}

.duris1{
	width: 500px;
	background: #6B6B6B;
	padding: 15px;
	color: var(--fain-color);
	
}


.best-company2{
	width: 500px;
	padding: 20px;
	background: #E3E3E3;
	position: relative;
	
}
.plus-icon2 i{
	position: absolute;
	top: 0px;
	left: 530px;
	width: 40px;
	padding: 17px;
	background: #B0AFAF;
	font-size: 30px;
	color: #fff;
	padding-left: 30px;
}

.duris2{
	width: 500px;
	background: #6B6B6B;
	padding: 15px;
	color: var(--fain-color);
}



.item{
	
	height: 400px;
	background: #DBD8D8;
}

.item p{
	text-align: center;
}


.command{
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}


.some-faq p{
	margin: 20px 0px;
}
.some-faq h2{
	margin: 20px 0px;
	font-size: 40px;
}

.some-faq span{
	color: var(--main-color);
}

.testimonial p{
	margin: 20px 0px;
}
.testimonial h2{
	margin: 20px 0px;
	font-size: 40px;
}
.testimonial span{
	color: var(--main-color);
}






.background-mono{
	width: 100%;
	height: 550px;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/pcontration3.jpg");
	margin-top: 70px;
}

.latest-project{
	color: var(--fain-color);
	padding-top: 70px;
	padding-left: 100px;
}
.latest-project h1{
	font-size: 40px;
}
.latest-project span{
	color: var(--main-color);
}

.itam{
	height: 300px;
	background: #806464;
	margin-top: 50px;
	position: relative;
}







.mono-title{
	position: absolute;
	top: 0;
	left: 0;
	width: 262px;
	height: 300px;
	
	opacity: 0;
	transition: all;
	transition-duration: 2s;
	background: var(--main-color);
}
.mono-title h3{
	text-align: center;
	padding-top: 120px;
}
.mono-title p{
	text-align: center;
	margin: 10px 0px;
}

.mono-title:hover{
	opacity: 1;
	color: var(--fain-color);
}


.chosse-table{
	text-align: center;
	margin-top: 80px;
}
.chosse-table h1{
	margin: 20px 0px;
	font-size: 40px;
}

.chosse-table span{
	color: var(--main-color);
}





.numarical{
	margin-top: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.numarical1{
	width: 30%;
	height: auto;
	border: 1px solid #969696;
}

.numarical2{
	text-align: center;
	border: 1px solid #969696;
}
.numarical2 p{
margin: 20px 0px;
}
.numarical2 h1{
	font-size: 60px;
	color: var(--main-color);
}

.numarical3{
	text-align: center;
}
.numarical3 p{
	margin: 30px 0px;
}







.back-color{
	width: 100%;
	height: 680px;
	background-color: #B1B1B1;
	margin-top: 70px;
}


.expart-worker{
	text-align: center;
	padding-top: 100px;
}
.expart-worker h1{
	font-size: 40px;
	margin: 10px 0px;
}

.expart-worker span{
	color: var(--main-color);
}



.worker{
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.worker1{
	width: 22%;
	height: 400px;
	background: #807C7C;
	overflow: hidden;
}

.worker2 img{
	width: 100%;
	height: 400px;
}

.worker-title{
	width: 100%;
	height: 70px;
	background: var(--main-color);
	transform: translateY(-74px);
	transition: all 0.3s;
	
}

.worker-title:hover{
	transform: translateY(-150px);
	opacity: 1;
}

.worker-title h1{
	text-align: center;
	padding-top: 20px;
	color: var(--fain-color);
}
.worker-title p{
	text-align: center;
	color: black;
	
}
.worker-title i{
	padding: 18px;
	font-size: 25px;
	margin-top: 10px;
	transition: all 0.4s;
	cursor: pointer;
	color: black;
	
}






.recent-blog{
	margin-left: 150px;
	margin-top: 50px;
}

.recent-blog h1{
	font-size: 35px;
}

.recent-blog span{
	color: var(--main-color);
}

.blog-section{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

.blog-section2{
	width: 600px;
	height: 200px;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}
.comment i{
	margin-right: 10px;
	color: var(--main-color);
}






.pro-footer{
	width: 100%;
	height: 200px;
	background-image: url("../images/whitebackground2.jpg");
	margin-top: 70px;
}


.pro-footer1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 50px;
}

.pro h1{
	font-size: 40px;
}
.pro span{
	color: var(--main-color);
}
.pro h3{
	font-size: 30px;
}

.pro-contact{
	width: 200px;
	padding: 10px;
	border: none;
	border: 2px solid black;
	background: none;
	transition: 0.3s;
	cursor: pointer;
	font-size: 18px;
	
}
.pro-contact:hover{
	background: black;
	color: var(--fain-color);
}




.footer{
	width: 100%;
	height: 550px;
	background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("../images/pconstrtion4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.footer1{
	color: var(--fain-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 50px;
}

.footer3 h1{
	margin-bottom: 120px;
}
.footer3 p{
	margin: 20px 0px;
}
.footer2 p{
	margin: 20px 0px;
}
.copy{
	color: #fff;
	text-align: center;
	margin-top: 50px;
}

.fotter-row{
	width: 1000px;
	height: 100px;
	background: var(--main-color);
	margin-left: 260px;
	margin-top: 40px;
}

.fotter-row1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	color: var(--fain-color);
}

.fotter-row2 i{
	padding: 10px;
}

.fotter-row2 input{
	width: 300px;
	padding: 10px;
	border: none;
	
}









.about-banner{
	width: 100%;
	height: 400px;
	background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("../images/pstaf.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


.about-title{
	padding-top: 150px;
	padding-left: 200px;
	color: var(--fain-color);
}
.about-title h1{
	font-size: 50px;
}
.about-title1{
	padding-top: 120px;
	text-align: center;
	color: var(--fain-color);
}
.about-title1 i{
	margin-bottom: 10px;
	font-size: 30px;
	color: var(--main-color);
}


.solutions{
	width: 100%;
	height: 500px;
	background-image: url("../images/dotted-back.jpg");
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cap-title p{
	margin: 20px 0px;
}
.cap-title h1{
	font-size: 35px;
}
.cap-title span{
	color: var(--main-color);
}

.cap-pro{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
.cap-pro i{
	margin-right: 15px;
	font-size: 25px;
	color: var(--main-color);
}

.checkout{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 80px;
}

.chekout-title P{
	margin: 20px 0px;
}
.chekout-title h1{
	font-size: 35px;
}
.chekout-title span{
	color: var(--main-color);
}

.m-contact{
	width: 27%;
	padding: 12px;
	border: none;
	font-size: 15px;
	border: 2px solid var(--main-color);
	background: var(--fain-color);
	transition: 0.3s;
	cursor: pointer;
}
.m-contact:hover{
	background: var(--main-color);
	color: var(--fain-color);
}

.chek-image{
	border: 5px solid #ADADAD;
	width: 400px;
	height: 350px;
	position: relative;
}

.chek-image iframe{
	position: absolute;
	top: 50px;
	left: 50px;
}


.back-color-row{
	margin-top: 130px;
	width: 100%;
	height: 700px;
	background: #7B7B7B;
}


.everything{
	width: 100%;
	height: 500px;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/pcontration5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.everyhing1 h1{
	text-align: center;
	padding-top: 200px;
	font-size: 50px;
	color: var(--fain-color);
}

.service{
	padding-top: 100px;
	padding-left: 200px;
}
.service h1{
	font-size: 40px;
}
.service span{
	color: var(--main-color);
}

.pitter1{
	width: 400px;
	height: 400px;
	background: #DBDBDB;
}
.pitter2 img{
	width: 100%;
	height: 300px;
}

.pitter-title h2{
	text-align: center;
	margin-top: 10px;
	transition: 0.3s;
	cursor: pointer;
	
}
.pitter-title h2:hover{
	color: var(--main-color);
}
.pitter-title p{
	text-align: center;
	margin-top: 10px;
}

.pitter{
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}












.project23{
	width: 100%;
	height: 400px;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/paragraf.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.pro-ject{
	padding-top: 150px;
	padding-left: 200px;
	color: var(--fain-color);
}
.pro-ject h1{
	font-size: 50px;
}

.pro-ject-info{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
}
.pro-ject-info1 h1{
	font-size: 40px;
	margin: 20px 0px;
}
.pro-ject-info1 span{
	color: var(--main-color);
}

.descripation{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
}

.descripation-title h1{
	font-size: 40px;
}


.challenge{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
}
.descripation-title span{
	color: var(--main-color);
}

.challenge-title h1{
	font-size: 40px;
}
.challenge-title h3{
	margin: 10px 0px;
}

.challenge-title i{
	margin-right: 10px;
	color: var(--main-color);
}



.brok{
	width: 100%;
	height: 600px;
	background: #E1E1E1;
	margin-top: 60px;
}

.brok1{
	padding-top: 100px;
	padding-left: 200px;
}
.brok1 h1{
	font-size: 40px;
}

.item255{
	height: 300px;
	background: red;
}


.related1{
	width: 300px;
	height: 300px;
	background: #E8E8E8;
	position: relative;
}

.related2 img{
	width: 100%;
	height: 300px;
}

.related-title{
	position: absolute;
	top: 0;
	left: 0;
	background: var(--main-color);
	width: 100%;
	height: 300px;
	opacity: 0;
	transition: all;
	transition-duration: 2s;
}

.related-title:hover{
	opacity: 1;
}
.related-title h2{
	text-align: center;
	padding-top: 100px;
	color: var(--fain-color);
}

.related-title p{
	text-align: center;
	margin: 10px 0px;
	color: var(--fain-color);
}

.related{
	display: flex;
	justify-content: space-around;
	align-items: center;
}












.latest-blog{
	width: 100%;
	height: 400px;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/pconstarion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.latest-blog1 h1{
	padding-top: 150px;
	padding-left: 200px;
	color: var(--fain-color);
	font-size: 40px;
}



.by-admin{
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.by-admin1{
	width: 700px;
	height: auto;
	
}
.by-admin2 img{
	width: 100%;
	height: 400px;
}

.by-admin-title{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.by-admin-title1 i{
	margin-right: 10px;
	font-size: 20px;
	color: var(--main-color);
}

.by-admin-title2 h1{
	padding-left: 20px;
	margin: 20px 0px;
	cursor: pointer;
	transition: 0.3s;
}
.by-admin-title2 h1:hover{
	color: var(--main-color);
}
.by-admin-title2 p{
	padding-left: 20px;
}

.zozo{
	margin-left: 20px;
	margin-top: 20px;
	width: 20%;
	padding: 10px;
	border: none;
	cursor: pointer;
	transition: 0.3s;
	background: var(--fain-color);
	border: 1px solid #080821;
}
.zozo:hover{
	background: #12122F;
	color: var(--fain-color);
}


.input-location input{
	width: 270px;
	padding: 10px;
	margin-bottom: 80px;
}
.locetion{
	width: 35px;
	padding: 12px;
	border: none;
	background: var(--main-color);
	color: var(--fain-color);
	cursor: pointer;
	
}


.best-cetagery h1{
	margin-bottom: 70px;
	font-size: 40px;
}
.best-cetagery p{
	margin-bottom: 10px;
	color: var(--main-color);
}
.best-cetagery span{
	color: var(--main-color);
}


.recent-news{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
}

.post h1{
	font-size: 35px;
	margin: 20px 0px;
}

.pest{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pest-title h3{
	margin-left: 15px;
	cursor: pointer;
	transition: 0.3s;
}
.pest-title h3:hover{
	color: var(--main-color);
}
.pest-title p{
	margin-left: 15px;
}


.contact{
	width: 100%;
	height: 400px;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/pcontration3.jpg");
}


.contact1{
	padding-top: 150px;
	padding-left: 100px;
	color: var(--fain-color);
	font-size: 30px;
}

.get-touch{
	margin-top: 50px;
	padding-left: 150px;
}

.get-touch h1{
	margin: 20px 0px;
	font-size: 40px;
}

.get-touch span{
	color: var(--main-color);
}


.head-contact{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 50px;
}

.head-contact1 input{
	width: 300px;
	padding: 10px;
}

textarea{
	width: 100%;
	height: 200px;
	
}

.mon{
	width: 25%;
	padding: 12px;
	border: none;
	background: var(--main-color);
	color: var(--fain-color);
	cursor: pointer;
	transition: 0.3s;
}
.mon:hover{
	background: none;
	border: 1px solid var(--main-color);
	color: black;
}


.Francisco h3{
	margin: 25px 0px;
}
.Francisco p{
	margin: 25px 0px;
}

.Francisco i{
	margin-right: 10px;
	font-size: 25px;
	color: var(--main-color);
}


.fro-icon{
	display: none;
}



@media(max-width: 480px){
	.topbar{
		width: 100%;
		height: auto;
		flex-direction: column;
	}
	
	.topbar2{
		flex-direction: column;
	}
	
	.topbar1 p{
		font-size: 15px;
	}
	
	.fro-icon{
		display: block;
	}
	
	
	nav ul{
		position: fixed;
		top: 275px;
		left: -100%;
		z-index: 99999999999999;
		width: 100%;
		height: 400px;
		background: #272727;
		display: block;
		text-align: center;
		transition: 0.3s;
		
	}
	
	.active{
		left: 0;
	}
	
	nav ul li{
		margin: 20px;
	}
	nav ul li a{
		color: var(--fain-color);
	}
	
	
	
	
	
	.banner-title{
	position: absolute;
	top: 10px;
	left: 20px;
}
.banner-title h3{
	color: var(--fain-color);
	margin: 10px 0px;
	font-size: 15px;
}
.banner-title h1{
	color: var(--fain-color);
	margin: 10px 0px;
	font-size: 20px;
}
.banner-title p{
	color: var(--fain-color);
	margin: 10px 0px;
}
.banner-title span{
	color: var(--main-color);
}
	
.project{
	width: 100px;
	padding: 8px;
	border: none;
	background: var(--main-color);
	font-size: 10px;
	color: var(--fain-color);
	margin: 10px 0px;
	transition: 0.3s;
	cursor: pointer;
}
.project:hover{
	background: var(--fain-color);
	color: black;
}	
	
	
.succes-work{
	flex-direction: column;
}


.succes-bordre{
	width: 300px;
	height: 300px;
	border: 5px solid #D9D8D8;
	position: relative;
	
}

.succes-image img{
	width: 280px;
	height: 290px;
	position: absolute;
	top: 10px;
	left: 10px;
	
}

hr{
	width: 130px;
	color: black;
	margin: auto;
}
.succes-image2{
	width: 300px;
	height: 300px;
	background: var(--fain-color);
	
}
.succes-image2 img{
	display: none;
}

.succes-title{
	margin: 30px 0px;
}
	.succes-title p{
		text-align: center;
	}
.succes-title span{
	font-size: 90px;
	color: var(--main-color);
}
	
	.succes-title br{
		display: none;
	}

.succes-title h1{
	font-size: 35px;
	margin: 20px 0px;
	text-align: center;
}

.success-title2{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}	
	
	
	.white-background{
		width: 100%;
		height: auto;
		margin-top: 70px;
	}
	.our-main p{
		font-size: 15px;
	}
	.our-main h1{
		font-size: 25px;
	}
	
	.desing-bild{
		flex-direction: column;
	}
	
	.desing-bulid2{
		width: 300px;
		height: auto;
	}
	
	.command{
		flex-direction: column;
	}
	
	.some-faq p{
	margin: 20px 0px;
	text-align: center;
}
.some-faq h2{
	margin: 20px 0px;
	font-size: 40px;
	text-align: center;
}
	
	
	.best-company{
	width: 200px;
	padding: 10px;
	background: #E3E3E3;
	position: relative;
	margin-left: 0;
}
.plus-icon i{
	position: absolute;
	top: 0px;
	left: 220px;
	width: 20px;
	padding: 12px;
	background: #B0AFAF;
	font-size: 20px;
	color: #fff;
	padding-left: 10px;
}

.duris{
	width: 200px;
	background: #6B6B6B;
	padding: 15px;
	color: var(--fain-color);
	margin-left: 0;
}
	.best-company1{
	width: 200px;
	padding: 10px;
	background: #E3E3E3;
	position: relative;
	margin-left: 0;
}
.plus-icon1 i{
	position: absolute;
	top: 0px;
	left: 220px;
	width: 20px;
	padding: 12px;
	background: #B0AFAF;
	font-size: 20px;
	color: #fff;
	padding-left: 20px;
}

.duris1{
	width: 200px;
	background: #6B6B6B;
	padding: 15px;
	color: var(--fain-color);
	margin-left: 0;
}
	.best-company2{
	width: 200px;
	padding: 10px;
	background: #E3E3E3;
	position: relative;
	margin-left: 0;
}
.plus-icon2 i{
	position: absolute;
	top: 0px;
	left: 220px;
	width: 20px;
	padding: 12px;
	background: #B0AFAF;
	font-size: 20px;
	color: #fff;
	padding-left: 20px;
}

.duris2{
	width: 200px;
	background: #6B6B6B;
	padding: 15px;
	color: var(--fain-color);
	margin-left: 0;
}
	
	.testimonial p{
		text-align: center;
	}	
	.testimonial h2{
		text-align: center;
	}
	
	.wallpaper-image img{
		width: 300px;
		height: 300px;
	}
	
	.background-mono{
		width: 100%;
		height: auto;
	}
	
	.latest-project h1{
		font-size: 25px;
		
	}
	
	.mono-title{
		width: 320px;
	}
	
	.numarical{
	    flex-direction: column;
	}
	
	.numarical1{
		width: 300px;
		height: auto;
		margin-top: 3%;
	}
	
	
	.back-color{
		width: 100%;
		height: auto;
	}
	
	.expart-worker h1{
		font-size: 25px;
	}
	
	.worker{
		flex-direction: column;
	}
	
	.worker1{
		width: 300px;
		height: 400px;
		margin-top: 20px;
	}
	
	.recent-blog{
	margin-left: 60px;
	margin-top: 50px;
}

.recent-blog h1{
	font-size: 22px;
}
	
	
	.blog-section{
		flex-direction: column;
	}
	
	.blog-section2{
		flex-direction: column;
		width: 300px;
		height: auto;
		margin-top: 2%;
	}
	
	.pro-footer{
		width: 100%;
		height: auto;
	}
	
	.pro-footer1{
		flex-direction: column;
	}
	.pro h1{
		text-align: center;
		font-size: 26px;
		margin: 10px 0px;
	}
	.pro p{
		text-align: center;
		margin: 10px 0px;
	}
	.pro h3{
		font-size: 20px;
		margin: 10px 0px;
	}
	
	.pro-contact{
		margin: 20px 0px;
	}
	
	.footer{
	width: 100%;
	height: auto;
	
}

.footer1{
	flex-direction: column;
}
	
	.footer3 h1{
		text-align: center;
	}	
	.footer3 p{
		text-align: center;
	}
	.footer3 br{
		display: none;
	}
	
	.footer2 p{
		text-align: center;
	}
	
	.fotter-row{
	display: none;
	
	
	margin-top: 40px;
}

.fotter-row1{
	flex-direction: column;
}

.fotter-row2 i{
	padding: 10px;
}

.fotter-row2 input{
	width: 300px;
	padding: 10px;
	border: none;
	
}
	
	
	
	
	
	
	
	
	
	.about-banner{
		width: 100%;
		height: 300px;
		
	}
	
	.about-title{
	padding-top: 50px;
	padding-left: 50px;
	
}
.about-title h1{
	font-size: 20px;
}
	
	.solutions{
	width: 100%;
	height: auto;
	background-image: url("../images/dotted-back.jpg");
	margin-top: 80px;
	flex-direction: column;
}

.cap-title p{
	text-align: center;
}
.cap-title h1{
	text-align: center;
	margin: 10px 0px;
}
.cap-title span{
	color: var(--main-color);
}
	.cap1 img{
		width: 300px;
		height: 300px;
	}
	
	.cap-title br{
		display: none;
	}

.cap-pro{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
.cap-pro i{
	margin-right: 15px;
	font-size: 25px;
	color: var(--main-color);
}
	
	.checkout{
		flex-direction: column;
	}
	
	.chekout-title p{
		text-align: center;
	}
	.chekout-title h1{
		text-align: center;
	}
	.chekout-title br{
		display: none;
	}
	
	.m-contact{
	width: 150px;
	padding: 10px;
	margin-left: 80px;
	font-size: 15px;
	
}
	
	.chek-image{
		border: none;
	}
	.chek-image iframe{
		width: 300px;
		height: 300px;
	}
	
	.back-color-row{
		width: 100%;
		height: auto;
	}
	
	
	
	.everything{
		width: 100%;
		height: 300px;
		background-size: cover;
	}
	
	.everyhing1 h1{
	text-align: center;
	padding-top: 100px;
	font-size: 30px;
	
}
	
	.service{
	padding-top: 50px;
	padding-left: 50px;
}
.service h1{
	font-size: 30px;
}
	
	
	.pitter{
		flex-direction: column;
	}
	
	
	.pitter1{
		width: 300px;
		height: auto;
	}
	
	
	
	.project23{
		width: 315px;
		height: 300px;
		background-size: cover;
	}
	
	.pro-ject{
	padding-top: 50px;
	padding-left: 50px;
	
}
	
	.pro-ject-info{
		flex-direction: column;
	}
	
	.pro-ject-info1{
		text-align: center;
	}
	.pro-ject-info1 br{
		display: none;
	}
	
	.pro-ject-img img{
		width: 300px;
		height: 300px;
		padding-top: 20px;
	}
	
	
	.descripation{
		flex-direction: column;
	}
	
	.descripation-image img{
		width: 300px;
		height: 300px;
	}
	
	.descripation-title{
		text-align: center;
	}
	
	.descripation-title h1{
		font-size: 30px;
		margin: 20px 0px;
	}
	
	.descripation-title br{
		display: none;
	}
	
	.challenge{
		flex-direction: column;
	}
	
	.challenge-title{
		text-align: center;
	}
	.challenge-title br{
		display: none;
	}
	.challenge-title h1{
		margin: 20px 0px;
	}
	.challenge-title p{
		margin: 10px 0px;
	}
	
	.challenge-image img{
		width: 300px;
		height: 300px;
	}
	
	.brok{
		width: 100%;
		height: auto;
	}
	
	.brok1{
	padding-top: 50px;
	padding-left: 50px;
}
.brok1 h1{
	font-size: 30px;
	margin: 20px 0px;
}
	
	.related{
		flex-direction: column;
	}
	.related1{
		margin-top: 10px;
	}
	
	
	.latest-blog{
		width: 315px;
		height: 300px;
		background-size: cover;
	}
	.latest-blog1 h1{
	padding-top: 70px;
	padding-left: 50px;
	
	font-size: 30px;
}

	.by-admin{
		flex-direction: column;
	}
	
	.by-admin1{
		width: 300px;
		height: auto;
	}
	
	.zozo{
		width: 100px;
		padding: 10px;
		margin: 20px 25px;
	}
	
	.input-location input{
		width: 240px;
		padding: 10px;
	}
	
	.best-cetagery p{
		text-align: center;
		margin: 20px 0px;
	}
	
	
	.recent-news{
		flex-direction: column;
	}
	
	.post{
		text-align: center;
	}
	
	.contact{
		width: 100%;
		height: 300px;
		background-size: cover;
	}
	
	.contact1{
		padding-top: 70px;
	}
	.contact1 h1{
		font-size: 30px;
	}
	
	.map iframe{
		width: 300px;
		height: 300px;
		margin-left: 8px;
		margin-top: 50px;
	}
	
	.get-touch{
	margin-top: 10px;
	padding-left: 30px;
}

.get-touch h1{
	margin: 20px 0px;
	font-size: 30px;
}
	
	.head-contact{
		flex-direction: column;
	}
	
	.head-contact1 input{
	width: 250px;
	padding: 8px;
	margin-top: 10px;
}

textarea{
	width: 268px;
	height: 200px;
	
}

.mon{
	width: 150px;
	padding: 12px;
	
}

	
}